<!DOCTYPE html>
<html>
<head>
	<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Single Page :: w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/css/style_2.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link href="~/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<link href="~/css/Style_div.css" rel="stylesheet" />

	<style>
		*, h1, h2, h3, h4, h5, h6, a, input {
			font-family: '微軟正黑體', Arial, 'Open Sans', sans-serif;
			font-weight: 100;
			font-size: 14px;
		}
	</style>

	<!-- js -->
	<script src="~/Scripts/jquery-3.1.1.js"></script>
	@*<script src="~/js/jquery-1.11.1.min.js"></script>*@
	<!-- //js -->
	@*<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>*@
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="~/js/move-top.js"></script>
	<script type="text/javascript" src="~/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- Bootstrap Core JavaScript -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- top-header and slider -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- main slider-banner -->
	<script src="~/js/skdslider.min.js"></script>
	<link href="~/css/skdslider.css" rel="stylesheet">
	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

			jQuery('#responsive').change(function () {
				$('#responsive_wrapper').width(jQuery(this).val());
			});

		});
	</script>
	<!-- //main slider-banner -->
	<!-- start-smoth-scrolling -->
	@*@Styles.Render("~/Content/css")*@
	@*@Scripts.Render("~/bundles/modernizr")*@

	@*@Scripts.Render("~/bundles/jquery")*@
	@*@Scripts.Render("~/bundles/bootstrap")*@
	@*載入驗證所需的Javascript*@
	@*@Scripts.Render("~/bundles/jqueryval")*@
	@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	@RenderSection("scripts", required: false)
</head>
<body>
	<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
				<p>SALE UP TO 70% OFF. <a href="@Url.Action("Index", "Products")">SHOP NOW</a></p>
			</div>
			<div class="agile-login">
				<ul>
					@Html.Partial("_LoginPartial")
				</ul>
			</div>
			<div class="product_list_header">
				<button class="w3view-cart" type="submit" name="submit" value="" onclick="location.href='@Html.Encode(Url.Action("Index", "Cart"))';">
					<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
				</button>
				@*onclick="location.href='@Html.Encode(Url.Action("Index", "Cart"))';"*@
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left1">
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="@Url.Action("Index", "Home")">super Market</a></h1>
			</div>
			<div class="w3l_search">
				@using (Html.BeginForm("Index", "Products"))
				{
					@Html.TextBox("Search", null, new { type = "search", placeholder = "Search for a Product..." })
					@*<input type="search" name="Search" placeholder="Search for a Product..." required="">*@
					<button type="submit" class="btn btn-default search" aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i>
					</button>
					<div class="clearfix"></div>
				}
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a href="@Url.Action("Index", "Home")" class="act">Home</a></li>

						@Html.Action("MainDropdown", "Products")
						<!-- Mega Menu -->
						@*<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Groceries<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="multi-gd-img">
											<ul class="multi-column-dropdown">
												<h6>All Groceries</h6>
												<li><a href="groceries.html">Dals & Pulses</a></li>
													<li><a href="groceries.html">Almonds</a></li>
													<li><a href="groceries.html">Cashews</a></li>
													<li><a href="groceries.html">Dry Fruit</a></li>
													<li><a href="groceries.html"> Mukhwas </a></li>
													<li><a href="groceries.html">Rice & Rice Products</a></li>
											</ul>
										</div>

									</div>
								</ul>
							</li>*@
						@if (User.IsInRole("Admin"))
						{
							<li><a href="@Url.Action("Create", "Products", new { area = "Back"})">新增商品</a></li>
						}
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<!-- //navigation -->
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				@RenderSection("breadcrumb", false)
				@if (IsSectionDefined("breadcrumb") == false)
				{
					@*<li></li>*@
				}
			</ol>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<div id="Main">
		@RenderBody()
	</div>
	<hr />
	<footer>
		<!-- //footer -->
		<div class="footer">
			<div class="footer-copy">
				<div class="container">
					<p>© 2017 Super Market. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
				</div>
			</div>
		</div>
		<!-- //footer -->
	</footer>
</body>
</html>
