@model IEnumerable<ECApplication.Models.Product>

@{
	var data = Model.ToArray();

	var ajaxOptionPost = new AjaxOptions()
	{
		OnSuccess = "deleteSuccess",
		OnFailure = "deleteFailure",
		HttpMethod = "Post"
	};
}

<script>
	function deleteSuccess() {
		alert("刪除成功");
	}

	function deleteFailure(xhr) {
		alert("刪除發生錯誤(狀態碼:" + xhr.status + ")");
	}

	$(function () {
		$('#Btn_Edit').on('click', function (e) {
			e.preventDefault();

			$.ajax({
				url: '@Html.Raw(Url.Action("Batch", "Products", new {
					 area = "back",
					 activeFilter = ViewBag.ActiveFilterVal,
					 categoryId = Request.QueryString["categoryId"],
					 pageNo = Request.QueryString["pageNo"],
					 search = Request.QueryString["search"]
				 }))',
				type: 'POST',
				data: $('form').serialize(),
				datatype: 'json',
				success: function (data) {
					alert('success');
					$('#Div_ItemList').html(data);
				},
				error: function (data) {
					alert('error');
				}
			})
		})
	})

</script>

@*管理者顯示批次更新的表格*@
@using (Html.BeginForm("Batch", "Products", FormMethod.Post))
{
	<table class="timetable_sub">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ProductName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhotoFile)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Price)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Active)
				</th>
				<th>@Html.DisplayNameFor(model => model.CategoryId)</th>
				<th>
					@Html.DisplayNameFor(model => model.Stock)
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@if (data.Count() > 0)
			{
				int i = 0;
				for (i = 0; i < data.Length; i++)
				{
					@Html.HiddenFor(modelItem => data[i].ProductId)
					<tr>
						<td class="invert">
							@Html.EditorFor(modelItem => data[i].ProductName, new { htmlAttributes = new { @class = "form-control" } })
						</td>
						<td class="invert-image">
							<img id="Img_Product" src="@Url.Content("~/images/" + data[i].FileName)" alt="" class="img-responsive" />
						</td>
						<td class="invert">

							@Html.EditorFor(modelItem => data[i].Price, new { htmlAttributes = new { @class = "form-control" } })

						</td>
						<td class="invert">

							@Html.EditorFor(model => data[i].Active, new { htmlAttributes = new { @class = "form-control" } })

						</td>
						<td class="invert">
							@Html.EditorFor(model => data[i].CategoryId, new { htmlAttributes = new { @class = "form-control" } })
						</td>
						<td class="invert">

							@Html.EditorFor(modelItem => data[i].Stock, new { htmlAttributes = new { @class = "form-control" } })

						</td>
						<td class="invert">
							@Html.ActionLink("編輯", "Edit", new { area = "back", id = data[i].ProductId })
							@Ajax.ActionLink("刪除", "Delete", "Products", new { area = "back", id = data[i].ProductId }, ajaxOptionPost)
						</td>
					</tr>
				}
			}
		</tbody>

	</table>
	<div style="padding-top:1em;margin-left:auto;margin-right:auto;display:block;">
		<input type="submit" name="submit" id="Btn_Edit" value="修改" class="s_btn" />
	</div>
}

@Html.Partial("_Pager", Model)
